<!DOCTYPE html>
<html lang="en">

<head>
  <title>News Scraper!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{!-- Strap that boot!  <insert Reboot joke here></insert> --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css"/>
  
  {{!-- Our fonts must come from somewhere.  In this case, Google Fonts helped. --}}
  <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  {{!-- Bodily stuff goes here. --}}
  {{{ body }}}
</body>

</html>
